# macOS
.DS_Store

# Virtual environment
venv/
.venv/
.venv_soml/

# Python
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# AI Agents
CLAUDE.md
GEMINI.md
.claude/

# Work in Process folder
WIP/
